{% extends "layout.html" %}
{% block content %}


<!--Values that need to be displayed-->
<main role="main" class="container">
    <div class="row">
        {% for record in data %}
        <div class="column" style="background-color:#aaa;">
          <h4>{{record.name}}</h4>
          <h5>{{record.value}}</h5>
        </div>
        
            {% endfor %}
    </div>
<br>
    <div align="center">
        <H3>Assets owned by your team</H3>
      </div>

      <div id="chartdiv"></div>
    <!--Recommended articles with article content hidden-->
      <div align="center">
          <H3>Recommended Articles</H3>
        </div>
{% for article in articles %}

<article class="media content-section"id="test" >
    <div class="media-body">
        <div align="center">
          <button type="button" id="{{article.ARTID}}" onClick="article_open(this.id,{{articles}})"><h5>{{article.Title}}</h5></button>
          <br>
          </div>
  </div>
</article>


<article class="media content-section"id="Article_content_{{article.ARTID}}" style="display:none">  
  <div class="media-body">
      <div align="center">
        {{article.ArtCont}}
            <br>
        </div>
</div>
</article>

{% endfor %}




</main>


<script>
function article_open(clicked_id,articles)
{aid=clicked_id
  console.log("Article_content_"+aid)
  
  for(i=0;i<articles.length;i++){
  if(articles[i]["AID"]!=aid){
    $("#Article_content_"+articles[i]["ARTID"]).css("display", "None")
  }

  }
  $("#Article_content_"+aid).css("display", "Block")

}





var x = document.getElementById("articles")
console.log("test1234567")
console.log(x)
</script>




    <style>
      * {
        box-sizing: border-box;
      }
      
      /* Create two equal columns that floats next to each other */
      .column {
        float: left;
        width: 20%;
        padding: 10px;
        margin-left: 15px;
        margin-right: 15px;
      }
      
      .row{
      
        margin-left: 130px
      }
      /* Clear floats after the columns */
      
      
      .bg-steel{
                  background: #2e77d2;
              }
      
              .row{
      
      margin-left: 130px
      }
      /* Clear floats after the columns */
      
      
      .bg-steel{
                background: #2e77d2;
            }
            button {
        border: none;
        width: 100%;
      }
      article.media.content-section {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 2%;
        margin-bottom: 0%;
       
      }
      .column{
      background-color: white;
      }
     
      </style>


<style>
    #chartdiv {
      width: 100%;
      height: 500px;
    }
    
    </style>
    <style>
        #chartdiv {
          width: 100%;
          height: 500px;
        }
        
        </style>
        
        <!-- Resources -->
        <script src="https://www.amcharts.com/lib/4/core.js"></script>
        <script src="https://www.amcharts.com/lib/4/charts.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
        
        <!-- Chart code -->
        <script>
        am4core.ready(function() {
        
        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end
        
        // Create chart instance
        var chart = am4core.create("chartdiv", am4charts.PieChart);
        var x = document.getElementById("text_field_new");
        console.log(x.value)
        // Add data

        
        console.log("Final")
        
        data=x.value
        A = [];

        data=data.replace("{", '');
        data=data.replace("}", '');
        data=data.replace("[", '');
        data=data.replace("]", '');
        data=data.split(",");
        console.log(data)
        for(i=0;i<data.length;i=i+2){
          count=parseInt((data[i].split(":")[1]).replace(" ", ''))
          label=((data[i+1].split(":")[1]).replace(" ", '')).replace("}", '')
          
          A.push({"Count": count, 'Asset': label});
        }
        console.log("array")
        console.log(A)
        chart.data = A
        // Add and configure Series
        var pieSeries = chart.series.push(new am4charts.PieSeries());
        pieSeries.dataFields.value = "Count";
        pieSeries.dataFields.category = "Asset";
        pieSeries.slices.template.stroke = am4core.color("#fff");
        pieSeries.slices.template.strokeWidth = 2;
        pieSeries.slices.template.strokeOpacity = 1;
        
        // This creates initial animation
        pieSeries.hiddenState.properties.opacity = 1;
        pieSeries.hiddenState.properties.endAngle = -90;
        pieSeries.hiddenState.properties.startAngle = -90;
        
        }); // end am4core.ready()
        </script>
        
        <!-- HTML -->
        
    


  <input type="text" name="lastname" id="text_field_new" value="{{recommended_assets}}" style="display:none">

{% endblock content %}



