{% extends "layout_login.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ password_setup_form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Password Set up page</legend>
                <div class="form-group">
                    {{ password_setup_form.password.label(class="form-control-label") }}

                    {% if password_setup_form.password.errors %}
                        {{ password_setup_form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ password_setup_form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ password_setup_form.confirm_password.label(class="form-control-label") }}

                    {% if password_setup_form.confirm_password.errors %}
                        {{ password_setup_form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in password_setup_form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ password_setup_form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ password_setup_form.doj.label(class="form-control-label") }}

                    {% if password_setup_form.doj.errors %}
                        {{ password_setup_form.doj(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in password_setup_form.doj.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ password_setup_form.doj(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ password_setup_form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <style>

    
    .nav-item{
    display: none
    }
    </style>
{% endblock content %}



