{% extends "layout.html" %}
{% block content %}
<main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% for support_ticket in support_tickets %}
      <article class="media content-section">
        <div class="media-body">
            <!--Ticket details-->
           <div class="article-metadata">
                  <div style="width: 20%; float:left" id="properties">
                      <p class="article-content">Ticket id: #{{ support_ticket.TID }}</p>
                      <p class="article-content">Status:    {{ support_ticket.TStatus }}</p>
                      <p class="article-content">Priority:  {{ support_ticket.Priority }}</p>
                   </div>
              </div>
              <div style="width: 80%; float:right">
                  <p class="article-content">{{ support_ticket.ProblemDescription }}</p>
                  <p></p>
                  <!--Button to display the view reply-->
                  <button type="button" id="view_replies{{ support_ticket.TID }}" onclick="open_reply(this,{{reply}})">View Replies</button> 
                  {% for replies in reply[support_ticket.TID] %}
                  {% if replies.EID == 7 %}
                  <!--Add the replies to the page but hides them-->
                  <p class="article-content" id={{ support_ticket.TID }}_{{replies['RID']}} style="display: none">Helpdesk: {{ replies['RContent'] }}</p>
                  {% else %}
                  <p class="article-content" id={{ support_ticket.TID }}_{{replies['RID']}} style="display: none">You: {{ replies['RContent'] }}</p>
                  {% endif %}
                  {% endfor %}
                   <!--Adsd a text box and button to reply to ticket below each ticket-->
                  <form method="POST" action="">
                      {{ reply_form.hidden_tag() }}
                      <fieldset class="form-group">
                              <div class="form-group"id={{ support_ticket.TID }}_reply_3 style="display: none">
                                      {% if reply_form.reply_ticket.errors %}
                                          {{ reply_form.reply_ticket(class="form-control form-control-lg is-invalid") }}
                                          <div class="invalid-feedback">
                                              {% for error in reply_form.reply_ticket.errors %}
                                                  <span>{{ error }}</span>
                                              {% endfor %}
                                          </div>
                                      {% else %}
                                      <input class="form-control form-control-lg" id="reply_ticket" name="reply_ticket" type="text" value="{{ support_ticket.TID }}">
                                      {% endif %}
                                  </div>
                  <div class="form-group"id={{ support_ticket.TID }}_reply_1 style="display: none">
                      {% if reply_form.reply_text.errors %}
                          {{ reply_form.reply_text(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in reply_form.reply_text.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ reply_form.reply_text(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
                  <div class="form-group" id={{ support_ticket.TID }}_reply_2 style="display: none">
                      {{ reply_form.reply_button(class="btn btn-outline-info") }}
                  </div> 
                  </fieldset>
                  </form>
              </div>
              
          
        </div>
      </article>
      
  {% endfor %}
      </div>
      <!--Ticket filters in the right side-->
      <div class="col-md-4">
        <div class="content-section">
            <div class="content-section">
                <form method="POST" action="">
                    {{ filters_form.hidden_tag() }}
                    
                    <fieldset class="form-group">
                        <h5 class="border-bottom mb-4">Filters</h5>
                        <div class="form-group">
                                {{ filters_form.status_filter.label(class="form-control-label") }}
                                {% if filters_form.status_filter.errors %}
                                    {{ filters_form.status_filter(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in filters_form.status_filter.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ filters_form.status_filter(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        <div class="form-group">
                                {{ filters_form.priority_filter.label(class="form-control-label") }}
            
                                {% if filters_form.priority_filter.errors %}
                                    {{ filters_form.priority_filter(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in filters_form.priority_filter.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ filters_form.priority_filter(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                    </fieldset>
                    <div class="form-group">
                        {{ filters_form.submit(class="btn btn-outline-info") }}
                    </div> 
                </form>
            </div>
        </div>
      </div>
    </div>
  </main>
  <!--Display replies based on the ticket id-->
    <script>
            function open_reply(elmnt,reply) {
                ticketid=((elmnt.id).replace("view_replies",""))
                replies=reply[ticketid]
                var i;
                for(i=0;i<replies.length;i++){
                id="#"+ticketid+"_"+replies[i]["RID"]
                $(id).css("display", "Block");
                }
                $("#"+ticketid+"_reply").css("display", "Block"); 
                $("#"+ticketid+"_reply_1").css("display", "Block");
                $("#"+ticketid+"_reply_2").css("display", "Block");
            }
    </script>
    <style>
        button {
            background: #2e77d2;
    }
        .bg-steel{
            background: #2e77d2;
    }
        .article-metadata {
        border: none;
    }
        input#reply_ticket {
        font-size: medium;
        margin-top: 20px;
    }
        p#relies {
        display: none;
    }
        .content-section{
        margin-bottom: 0px;
    }
        li {
    list-style-type: none;
    }
    button {
        background: #2e77d2;
    }
    .bg-steel{
        background: #2e77d2;
    }
    </style>
{% endblock content %}


